<div class="container py-5">
	<div class="row">
		<div class="col-lg-12" id="all-collapses">
			<div class="collapse show mb-3" id="collapse-add-prods" data-bs-parent="#all-collapses">
				<button class="btn btn-info"  data-bs-toggle="collapse" data-bs-target="#collapse-add-prods">Novo fornecimento</button	>
			</div>
			<div class="collapse mb-3" id="collapse-add-prods" data-bs-parent="#all-collapses">
				<form action="?item=supply&action=add" method="post">
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label class="form-label ms-1" for="lb-1">Informe a data do fornecimento</label>
								<input class="form-control" id="lb-1" type="date" name="date" required>
							</div>
						</div>
						<div class="col-6">
							{select-providers}
						</div>
						<div class="col-12">
                            <span class="d-flex justify-content-between mb-2">
								<span class="d-block">Produtos</span>
                                <button type="button" id="add-new-product-supply" class="btn btn-sm btn-success">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </span>
                        </div>
                        <div class="col-12 form-products-suplly">
							<div class="row">
								<div class="col-4">
									<div class="form-group">
										{select-products}
									</div>
								</div>
								<div class="col-4">
									<div class="form-group">
										<input class="form-control" type="number" name="PRODUCTS[][quantity]" placeholder="Quantidade">
									</div>
								</div>
								<div class="col-4">
									<div class="form-group">
										<input class="form-control" type="text" name="PRODUCTS[][value]" placeholder="Valor">
									</div>
								</div>
							</div>
                        </div>
					</div>
					<div class="form-group">
						<button class="btn btn-success" type="submit">Adicionar</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-12">
			<div id="list-supplies">{list_supplies}</div>
		</div>
	</div>
</div>