<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<form action="?action=login" method="post">
				<div class="form-group">
					<input name="email" class="form-control" type="text" required placeholder="E-mail">
				</div>
				<div class="form-group">
					<input name="password" class="form-control" type="password" required placeholder="Senha">
				</div>
				<div class="form-group">
					<a href="/registre-se" class="btn btn-outline-info">Registre-se</a>
					<button class="btn btn-success" type="submit">Entrar</button>
				</div>
			</form>
		</div>
	</div>
</div>