<div class="container py-5">
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<form action="?item=user&action=register" method="post">
				<div class="form-group">
					<input name="email" class="form-control" type="text" required placeholder="E-mail">
				</div>
				<div class="form-group">
					<input name="name" class="form-control" type="text" required placeholder="Nome">
				</div>
				<div class="form-group">
					<input name="password" class="form-control" type="password" required placeholder="Senha">
				</div>
				<div class="form-group">
					<input name="ConfirmPassword" class="form-control" type="password" required placeholder="Repita a senha">
				</div>
				<div class="form-group">
					<button class="btn btn-success" type="submit">Entrar</button>
				</div>
			</form>
		</div>
	</div>
</div>